<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body><h2>Edit your post</h2>
    user=<%= post.name %> <br>
    id=<%= post.id %> 
    <br><br>
    <br>
    <form action="/posts/edit/<%= post.id %>?_method=PATCH" method="post">
       <textarea name="content" id=""><%=post.content%></textarea> 
       <button>submit</button>
    </form>
</body>
</html>