<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new</title>
</head>
<body>
    <form action="/posts" method="post">
        <input name="name" placeholder="enter name"><br><br>
        <textarea name="content" id="" placeholder="write content"></textarea><br>
        <button>submit</button>
    </form>
</body>
</html>